* {
    display : flex;
    flex-direction: column;
    background-color: hsl(226, 43%, 10%);
    color: white;

}
:root {
    --primary-blue : hsl(246, 80%, 60%);
    --very-dark-blue : hsl(226, 43%, 10%);
    --dark-blue : hsl(235, 46%, 20%);
    --desaturated-blue : hsl(235, 45%, 61%);
    --pale-blue : hsl(236, 100%, 87%);
}
fontsize{
    --font-size : 18px;
}
#avatar {
    display: flex;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: transparent;
    grid-row: 1 / span 2;
    margin-left: 3rem;
    margin-top: 1rem;
    border: solid white 0.2rem;
}
h4 {
    background-color: transparent;
    font-size: 2rem;
    margin : 0;
}
h1{
    background-color: transparent;
    font-size: 1rem;
    flex-direction: column;
    justify-content: center;
    margin-bottom: -1rem;
}
.head {
    display: grid;
    grid-template-columns: 35% 65%;
    z-index: 2;
    background-color: hsl(246, 80%, 60%);
    border-radius: 2rem;
    height: 8rem;
    margin-top: 2rem;
    padding: 2rem;
}
.Times{
    display: flex;
    z-index: 1;
    justify-content: space-evenly;
    border-radius: 2rem;
    background-color: var(--dark-blue);
    height: 6rem;
    margin-top: -8%;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 3rem;
    
}

.cards>* {
    border-radius: 2rem;
    background-color: var(--dark-blue);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 60% ;
    margin-top: 2rem;
    padding: 2rem;
}
.styleW {
    background-color: hsl(15, 100%, 70%);
    height: 4rem;
    margin-top: 2rem;
    margin-bottom: -20%;
}
.styleP {
    background-color: hsl(195, 74%, 62%);
    height: 4rem;
    margin-top: 2rem;
    margin-bottom: -20%;
}.styleS {
    background-color: hsl(348, 100%, 68%);
    height: 4rem;
    margin-top: 2rem;
    margin-bottom: -20%;
}.styleE {
    background-color: hsl(145, 58%, 55%);
    height: 4rem;
    margin-top: 2rem;
    margin-bottom: -20%;
}.styleL {
    background-color: hsl(264, 64%, 52%);
    height: 4rem;
    margin-top: 2rem;
    margin-bottom: -20%;
}.styleC {
    background-color: hsl(43, 84%, 65%);
    height: 4rem;
    margin-top: 2rem;
    margin-bottom: -20%;
}
body {
    display: flex;
}

div, h2, h3 {
    background-color: transparent;
}
p{
    background-color: transparent;
    text-align: right;
}
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    background-color: transparent;

    color: hsl(228, 45%, 44%);
  }

@media screen and (min-width: 650px) {
    body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}